*{
    font-family: Helvetica, Arial,  sans-serif;
}
body{
    padding: 60px;
}

input{
    font-size: 18px;
    line-height: 26px;
    padding: 5px;
    color: #553a3a;
    width: 100%;
}

button{
    background-color: #131950;
    color: #ffffff;
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    padding: 2px 20px;
    margin:15px 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: #010d76;
}
#root button:first-of-type {
    margin-left: 0px;
}

.gridContainer{
    display: flex;
    align-items:flex-start;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    position: relative;
}

.gifContainer{
    border: 1px solid #838383;
    padding: 0px;
    text-align: center;
    width: 300px;
    max-height: 250px;
    margin: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-sizing: border-box;
    position: relative;
    display: block;
}
.gifContainer img{
    width: 298px;
    max-height: 195px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: block;
}

.gifContainer h4{
    font-size: 18px;
    line-height: 22px;
    margin: 2%;
}